In [1]:
import pandas as pd

In [2]:
df = pd.read_json ('/Users/emilyzou/ccl/contribs-v2.json')
df
df.to_csv ("full.csv")

In [4]:
df['organization'].value_counts().to_csv('testt.csv')

In [3]:
dict = pd.read_csv ("/Users/emilyzou/ccl/cclcoords.csv")

In [4]:
dict = dict.rename (columns = {"ORGANIZATION": "organization"})

In [20]:
dg = dict.set_index ("organization")

In [23]:
array = dg.to_numpy()

In [25]:
array2 = dict.to_numpy ()

In [26]:
array2

array([['"Petre Andrei" University', 47.1602, 27.6032],
       ['√âcole Polytechnique de Montr√©al', 45.5048, -73.6132],
       ['Academy of Mathematics and Systems Science, Chinese Academy Science, China',
        39.9106, -116.3356],
       ...,
       ['Yonsei Univ., Korea Rep.', 37.5658, 126.9386],
       ['Yorktown High School', 38.9029, -77.1405],
       ['Zhejiang Univ', 30.3087, 120.0865]], dtype=object)

In [9]:
result = df[df['organization'].isin (dict['organization'])]

In [10]:
result

,modelName,contributor,organization,date
0,client interface example,Seth Tisue,CCL,2002-06-20
1,AntsOpt,Erich Neuwirth,University of Vienna,2002-06-25
3,1D-CA-Rule90,Uri Wilensky,CCL,2002-07-03
5,Diffusion Graphics,ERIC B,CCL,2002-07-03
7,Cash Flow,Matthew W. Berland,CCL,2002-07-10
...,...,...,...,...
1217,Hypercycle,Maarten Boerlijst,Amsterdam University College,2022-09-27
1218,Hypercycle,Maarten Boerlijst,Amsterdam University College,2022-09-27
1219,Cyclic Competition,Maarten Boerlijst,Amsterdam University College,2022-09-27
1220,Hardy-Weinberg Network,"Riccardo Tarantino, Valentino Romano",University of Palermo,2022-09-30
1221,Axelrod-Basic,Daniel Weissglass,Duke Kunshan University,2022-11-01

In [14]:
result.merge (dict, left_on = "organization", right_on = "organization", how = 'left').to_csv('locfull.csv')